In [ ]:
# !pip install nselib

!pip install nselib --upgrade
! pip install ydata-profiling
!pip install --upgrade pip
# https://github.com/RuchiTanmay/nselib/tree/main

In [30]:
import nselib
from nselib import capital_market

In [3]:
holly_Day = nselib.trading_holiday_calendar()

In [4]:
holly_Day.head()

,Product,tradingDate,weekDay,description,Sr_no,morning_session,evening_session
0,Corporate Bonds,15-Jan-2026,Thursday,Municipal Corporation Election - Maharashtra,1,None,None
1,Corporate Bonds,26-Jan-2026,Monday,Republic Day,2,None,None
2,Corporate Bonds,15-Feb-2026,Sunday,Mahashivratri,3,None,None
3,Corporate Bonds,03-Mar-2026,Tuesday,Holi,4,None,None
4,Corporate Bonds,21-Mar-2026,Saturday,Id-Ul-Fitr (Ramadan Eid),5,None,None

In [5]:
Block_deals = capital_market.block_deals_data(period="1M")

In [6]:
Bulk_deal = capital_market.bulk_deal_data(period="1M")

In [7]:
from ydata_profiling import ProfileReport
prof = ProfileReport(Bulk_deal, title="My Profiling Report")
prof.to_file(output_file="Bulk_deal.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 8/8 [00:00<00:00, 469.00it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [13]:
df = capital_market.short_selling_data(period="1W")

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(df)

In [17]:
df.head()

          Date      Symbol               SecurityName Quantity
0  29-JAN-2026         ABB                   ABB LTD.       41
1  29-JAN-2026  ADANIENSOL  ADANI ENERGY SOLUTION LTD       66
2  29-JAN-2026    ADANIENT  ADANI ENTERPRISES LIMITED        3
3  29-JAN-2026  ADANIGREEN     ADANI GREEN ENERGY LTD      192
4  29-JAN-2026    ANGELONE              ANGEL ONE LTD        7