In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'/run/media/falcon/Local/Data-Science/Pandas/economics.csv')

## 1. How Big is The Data ?

In [4]:
df.shape

(574, 6)

## 2. How Does the Data Look Like?

In [5]:
df.sample(5)

           date     pce     pop  psavert  uempmed  unemploy
475  2007-02-01  9590.8  300802      3.3      8.5      6927
427  2003-02-01  7573.6  289714      4.7      9.5      8618
435  2003-10-01  7890.6  291574      4.6     10.4      8732
508  2009-11-01  9946.1  308418      5.7     19.8     15219
431  2003-06-01  7722.9  290584      4.9     11.5      9266

## 3. What is the Data Type of Cols

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      574 non-null    object
 1   pce       574 non-null    float64
 2   pop       574 non-null    int64
 3   psavert   574 non-null    float64
 4   uempmed   574 non-null    float64
 5   unemploy  574 non-null    int64
dtypes: float64(3), int64(2), object(1)
memory usage: 27.0+ KB

## 4. Are There any Missing Value

In [7]:
df.isnull().sum()

date        0
pce         0
pop         0
psavert     0
uempmed     0
unemploy    0
dtype: int64

## 5. How Does The Data Look Mathematically?

In [8]:
df.describe()

                pce            pop     psavert     uempmed      unemploy
count    574.000000     574.000000  574.000000  574.000000    574.000000
mean    4843.510453  257189.381533    7.936585    8.610105   7771.557491
std     3579.287206   36730.801593    3.124394    4.108112   2641.960571
min      507.400000  198712.000000    1.900000    4.000000   2685.000000
25%     1582.225000  224896.000000    5.500000    6.000000   6284.000000
50%     3953.550000  253060.000000    7.700000    7.500000   7494.000000
75%     7667.325000  290290.750000   10.500000    9.100000   8691.000000
max    12161.500000  320887.000000   17.000000   25.200000  15352.000000

## 6. Are There Duplicate Value ?

In [9]:
df.duplicated().sum()

np.int64(0)

## 7. How is the Correlation Between Cols ?

In [14]:
df['date'] = pd.to_datetime(df['date'])
df.corr(numeric_only=True) * 100

                 pce         pop     psavert     uempmed    unemploy
pce       100.000000   98.727782  -83.706902   72.734920   61.399969
pop        98.727782  100.000000  -87.546419   69.594436   63.402989
psavert   -83.706902  -87.546419  100.000000  -38.741589  -35.400725
uempmed    72.734920   69.594436  -38.741589  100.000000   86.940628
unemploy   61.399969   63.402989  -35.400725   86.940628  100.000000

In [ ]:
corr_percent = (df.corr(numeric_only=True) * 100).round(1)
corr_percent.astype(str) +

             pce     pop psavert uempmed unemploy
pce       100.0%   98.7%  -83.7%   72.7%    61.4%
pop        98.7%  100.0%  -87.5%   69.6%    63.4%
psavert   -83.7%  -87.5%  100.0%  -38.7%   -35.4%
uempmed    72.7%   69.6%  -38.7%  100.0%    86.9%
unemploy   61.4%   63.4%  -35.4%   86.9%   100.0%