####
| Domain       | Column Examples               |                          
| ------------ | ----------------------------- | 
| Stock market | Sector, Industry, Exchange    |
| Banking      | Loan_Type, Customer_Type      |
| Economics    | Country, Region, Income_Group |
| Finance      | Payment_Method, Credit_Rating |
| Insurance    | Policy_Type, Claim_Category   |

In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv(r"/run/media/falcon/Local/Data-Science/data/indian_stocks.csv")

### Where This Dataset Is Actually Used

Stock return prediction

Volatility classification

Sector-based clustering

Portfolio optimization

Risk modeling

In [33]:
df.head(5)

,Symbol,Company,Sector,Exchange,Close_Price,Market_Cap_Cr,Volume_Lakhs
0,RELIANCE,Reliance Industries,Energy,NSE,2450,1650000,52
1,TCS,Tata Consultancy Services,IT,NSE,3720,1350000,18
2,INFY,Infosys,IT,NSE,1480,620000,25
3,HDFCBANK,HDFC Bank,Banking,BSE,1580,1200000,40
4,ICICIBANK,ICICI Bank,Banking,NSE,940,890000,55

## 1. OneHotEncoding using Pandas

In [34]:
pd.get_dummies(df,columns=["Sector", "Exchange"])

,Symbol,Company,Close_Price,Market_Cap_Cr,Volume_Lakhs,Sector_Auto,Sector_Banking,Sector_Energy,Sector_FMCG,Sector_IT,Sector_Pharma,Exchange_BSE,Exchange_NSE
0,RELIANCE,Reliance Industries,2450,1650000,52,False,False,True,False,False,False,False,True
1,TCS,Tata Consultancy Services,3720,1350000,18,False,False,False,False,True,False,False,True
2,INFY,Infosys,1480,620000,25,False,False,False,False,True,False,False,True
3,HDFCBANK,HDFC Bank,1580,1200000,40,False,True,False,False,False,False,True,False
4,ICICIBANK,ICICI Bank,940,890000,55,False,True,False,False,False,False,False,True
5,SBIN,State Bank of India,610,520000,75,False,True,False,False,False,False,False,True
6,ITC,ITC Ltd,420,520000,65,False,False,False,True,False,False,True,False
7,HINDUNILVR,HUL,2480,580000,12,False,False,False,True,False,False,False,True
8,LT,Larsen & Toubro,2960,410000,20,False,False,True,False,False,False,False,True
9,ONGC,ONGC,265,310000,88,False,False,True,False,False,False,True,False
10,SUNPHARMA,Sun Pharma,1320,420000,22,False,False,False,False,False,True,False,True
11,DRREDDY,Dr Reddy's,5450,145000,6,False,False,False,False,False,True,True,False
12,CIPLA,Cipla,1180,98000,14,False,False,False,False,False,True,False,True
13,DIVISLAB,Divis Labs,3850,102000,5,False,False,False,False,False,True,False,True
14,MARUTI,Maruti Suzuki,10200,305000,8,True,False,False,False,False,False,False,True
15,TATAMOTORS,Tata Motors,815,305000,95,True,False,False,False,False,False,False,True
16,M&M,Mahindra & Mahindra,1620,210000,26,True,False,False,False,False,False,True,False
17,BAJAJ_AUTO,Bajaj Auto,7600,225000,7,True,False,False,False,False,False,False,True
18,HCLTECH,HCL Technologies,1460,405000,19,False,False,False,False,True,False,False,True
19,WIPRO,Wipro,470,260000,33,False,False,False,False,True,False,True,False
20,TECHM,Tech Mahindra,1380,260000,21,False,False,False,False,True,False,False,True
21,AXISBANK,Axis Bank,1080,330000,29,False,True,False,False,False,False,False,True
22,KOTAKBANK,Kotak Bank,1760,350000,15,False,True,False,False,False,False,True,False
23,PNB,Punjab National Bank,92,85000,110,False,True,False,False,False,False,False,True
24,BANKBARODA,Bank of Baroda,210,95000,60,False,True,False,False,False,False,True,False
25,ADANIENT,Adani Enterprises,3200,360000,48,False,False,True,False,False,False,False,True
26,ADANIPORTS,Adani Ports,1120,240000,35,False,False,True,False,False,False,True,False
27,NTPC,NTPC,315,305000,44,False,False,True,False,False,False,False,True
28,POWERGRID,Power Grid,285,265000,41,False,False,True,False,False,False,True,False
29,BPCL,BPCL,465,67000,28,False,False,True,False,False,False,False,True
30,IOC,IOC,128,180000,72,False,False,True,False,False,False,True,False
31,HEROMOTOCO,Hero MotoCorp,4400,90000,9,True,False,False,False,False,False,False,True
32,EICHERMOT,Eicher Motors,3820,110000,6,True,False,False,False,False,False,True,False
33,ASHOKLEY,Ashok Leyland,178,53000,55,True,False,False,False,False,False,False,True
34,BRITANNIA,Britannia,5120,125000,4,False,False,False,True,False,False,False,True
35,NESTLEIND,Nestle India,24800,235000,2,False,False,False,True,False,False,True,False
36,DABUR,Dabur India,560,105000,18,False,False,False,True,False,False,False,True
37,GODREJCP,Godrej Consumer,1150,92000,11,False,False,False,True,False,False,True,False
38,COLPAL,Colgate Palmolive,2450,67000,5,False,False,False,True,False,False,False,True
39,TITAN,Titan Company,3560,315000,14,False,False,False,True,False,False,False,True
40,BAJAJFINSV,Bajaj Finserv,1620,260000,10,False,True,False,False,False,False,False,True
41,BAJFINANCE,Bajaj Finance,7150,430000,12,False,True,False,False,False,False,True,False
42,HDFCLIFE,HDFC Life,615,165000,17,False,True,False,False,False,False,False,True
43,SBILIFE,SBI Life,1380,120000,9,False,True,False,False,False,False,True,False
44,ICICIPRULI,ICICI Pru Life,565,78000,13,False,True,False,False,False,False,False,True
45,ULTRACEMCO,UltraTech Cement,10500,305000,7,False,False,True,False,False,False,False,True
46,SHREECEM,Shree Cement,26800,98000,3,False,False,True,False,False,False,True,False
47,JSWSTEEL,JSW Steel,830,205000,38,False,False,True,False,False,False,False,True
48,TATASTEEL,Tata Steel,145,185000,67,False,False,True,False,False,False,True,False
49,HINDALCO,Hindalco,610,145000,45,False,False,True,False,False,False,False,True
50,VEDL,Vedanta,285,105000,52,False,False,True,False,False,False,True,False
51,BIOCON,Biocon,260,52000,21,False,False,False,False,False,True,False,True
52,LUPIN,Lupin,1150,51000,9,False,False,False,False,False,True,True,False
53,AUROPHARMA,Aurobindo Pharma,970,62000,16,False,False,False,False,False,True,False,True
54,ALKEM,Alkem Labs,5150,72000,4,False,False,False,False,False,True,False,True
55,GLENMARK,Glenmark,750,41000,19,False,False,False,False,False,True,True,False
56,TORNTPHARM,Torrent Pharma,2350,78000,6,False,False,False,False,False,True,False,True

### 2. K-1 OneHotEncoding

In [35]:
pd.get_dummies(df,columns=["Sector", "Exchange"], drop_first=True)

,Symbol,Company,Close_Price,Market_Cap_Cr,Volume_Lakhs,Sector_Banking,Sector_Energy,Sector_FMCG,Sector_IT,Sector_Pharma,Exchange_NSE
0,RELIANCE,Reliance Industries,2450,1650000,52,False,True,False,False,False,True
1,TCS,Tata Consultancy Services,3720,1350000,18,False,False,False,True,False,True
2,INFY,Infosys,1480,620000,25,False,False,False,True,False,True
3,HDFCBANK,HDFC Bank,1580,1200000,40,True,False,False,False,False,False
4,ICICIBANK,ICICI Bank,940,890000,55,True,False,False,False,False,True
5,SBIN,State Bank of India,610,520000,75,True,False,False,False,False,True
6,ITC,ITC Ltd,420,520000,65,False,False,True,False,False,False
7,HINDUNILVR,HUL,2480,580000,12,False,False,True,False,False,True
8,LT,Larsen & Toubro,2960,410000,20,False,True,False,False,False,True
9,ONGC,ONGC,265,310000,88,False,True,False,False,False,False
10,SUNPHARMA,Sun Pharma,1320,420000,22,False,False,False,False,True,True
11,DRREDDY,Dr Reddy's,5450,145000,6,False,False,False,False,True,False
12,CIPLA,Cipla,1180,98000,14,False,False,False,False,True,True
13,DIVISLAB,Divis Labs,3850,102000,5,False,False,False,False,True,True
14,MARUTI,Maruti Suzuki,10200,305000,8,False,False,False,False,False,True
15,TATAMOTORS,Tata Motors,815,305000,95,False,False,False,False,False,True
16,M&M,Mahindra & Mahindra,1620,210000,26,False,False,False,False,False,False
17,BAJAJ_AUTO,Bajaj Auto,7600,225000,7,False,False,False,False,False,True
18,HCLTECH,HCL Technologies,1460,405000,19,False,False,False,True,False,True
19,WIPRO,Wipro,470,260000,33,False,False,False,True,False,False
20,TECHM,Tech Mahindra,1380,260000,21,False,False,False,True,False,True
21,AXISBANK,Axis Bank,1080,330000,29,True,False,False,False,False,True
22,KOTAKBANK,Kotak Bank,1760,350000,15,True,False,False,False,False,False
23,PNB,Punjab National Bank,92,85000,110,True,False,False,False,False,True
24,BANKBARODA,Bank of Baroda,210,95000,60,True,False,False,False,False,False
25,ADANIENT,Adani Enterprises,3200,360000,48,False,True,False,False,False,True
26,ADANIPORTS,Adani Ports,1120,240000,35,False,True,False,False,False,False
27,NTPC,NTPC,315,305000,44,False,True,False,False,False,True
28,POWERGRID,Power Grid,285,265000,41,False,True,False,False,False,False
29,BPCL,BPCL,465,67000,28,False,True,False,False,False,True
30,IOC,IOC,128,180000,72,False,True,False,False,False,False
31,HEROMOTOCO,Hero MotoCorp,4400,90000,9,False,False,False,False,False,True
32,EICHERMOT,Eicher Motors,3820,110000,6,False,False,False,False,False,False
33,ASHOKLEY,Ashok Leyland,178,53000,55,False,False,False,False,False,True
34,BRITANNIA,Britannia,5120,125000,4,False,False,True,False,False,True
35,NESTLEIND,Nestle India,24800,235000,2,False,False,True,False,False,False
36,DABUR,Dabur India,560,105000,18,False,False,True,False,False,True
37,GODREJCP,Godrej Consumer,1150,92000,11,False,False,True,False,False,False
38,COLPAL,Colgate Palmolive,2450,67000,5,False,False,True,False,False,True
39,TITAN,Titan Company,3560,315000,14,False,False,True,False,False,True
40,BAJAJFINSV,Bajaj Finserv,1620,260000,10,True,False,False,False,False,True
41,BAJFINANCE,Bajaj Finance,7150,430000,12,True,False,False,False,False,False
42,HDFCLIFE,HDFC Life,615,165000,17,True,False,False,False,False,True
43,SBILIFE,SBI Life,1380,120000,9,True,False,False,False,False,False
44,ICICIPRULI,ICICI Pru Life,565,78000,13,True,False,False,False,False,True
45,ULTRACEMCO,UltraTech Cement,10500,305000,7,False,True,False,False,False,True
46,SHREECEM,Shree Cement,26800,98000,3,False,True,False,False,False,False
47,JSWSTEEL,JSW Steel,830,205000,38,False,True,False,False,False,True
48,TATASTEEL,Tata Steel,145,185000,67,False,True,False,False,False,False
49,HINDALCO,Hindalco,610,145000,45,False,True,False,False,False,True
50,VEDL,Vedanta,285,105000,52,False,True,False,False,False,False
51,BIOCON,Biocon,260,52000,21,False,False,False,False,True,True
52,LUPIN,Lupin,1150,51000,9,False,False,False,False,True,False
53,AUROPHARMA,Aurobindo Pharma,970,62000,16,False,False,False,False,True,True
54,ALKEM,Alkem Labs,5150,72000,4,False,False,False,False,True,True
55,GLENMARK,Glenmark,750,41000,19,False,False,False,False,True,False
56,TORNTPHARM,Torrent Pharma,2350,78000,6,False,False,False,False,True,True

## 3. OneHotEncoding using Sklearn

In [36]:
df

,Symbol,Company,Sector,Exchange,Close_Price,Market_Cap_Cr,Volume_Lakhs
0,RELIANCE,Reliance Industries,Energy,NSE,2450,1650000,52
1,TCS,Tata Consultancy Services,IT,NSE,3720,1350000,18
2,INFY,Infosys,IT,NSE,1480,620000,25
3,HDFCBANK,HDFC Bank,Banking,BSE,1580,1200000,40
4,ICICIBANK,ICICI Bank,Banking,NSE,940,890000,55
5,SBIN,State Bank of India,Banking,NSE,610,520000,75
6,ITC,ITC Ltd,FMCG,BSE,420,520000,65
7,HINDUNILVR,HUL,FMCG,NSE,2480,580000,12
8,LT,Larsen & Toubro,Energy,NSE,2960,410000,20
9,ONGC,ONGC,Energy,BSE,265,310000,88
10,SUNPHARMA,Sun Pharma,Pharma,NSE,1320,420000,22
11,DRREDDY,Dr Reddy's,Pharma,BSE,5450,145000,6
12,CIPLA,Cipla,Pharma,NSE,1180,98000,14
13,DIVISLAB,Divis Labs,Pharma,NSE,3850,102000,5
14,MARUTI,Maruti Suzuki,Auto,NSE,10200,305000,8
15,TATAMOTORS,Tata Motors,Auto,NSE,815,305000,95
16,M&M,Mahindra & Mahindra,Auto,BSE,1620,210000,26
17,BAJAJ_AUTO,Bajaj Auto,Auto,NSE,7600,225000,7
18,HCLTECH,HCL Technologies,IT,NSE,1460,405000,19
19,WIPRO,Wipro,IT,BSE,470,260000,33
20,TECHM,Tech Mahindra,IT,NSE,1380,260000,21
21,AXISBANK,Axis Bank,Banking,NSE,1080,330000,29
22,KOTAKBANK,Kotak Bank,Banking,BSE,1760,350000,15
23,PNB,Punjab National Bank,Banking,NSE,92,85000,110
24,BANKBARODA,Bank of Baroda,Banking,BSE,210,95000,60
25,ADANIENT,Adani Enterprises,Energy,NSE,3200,360000,48
26,ADANIPORTS,Adani Ports,Energy,BSE,1120,240000,35
27,NTPC,NTPC,Energy,NSE,315,305000,44
28,POWERGRID,Power Grid,Energy,BSE,285,265000,41
29,BPCL,BPCL,Energy,NSE,465,67000,28
30,IOC,IOC,Energy,BSE,128,180000,72
31,HEROMOTOCO,Hero MotoCorp,Auto,NSE,4400,90000,9
32,EICHERMOT,Eicher Motors,Auto,BSE,3820,110000,6
33,ASHOKLEY,Ashok Leyland,Auto,NSE,178,53000,55
34,BRITANNIA,Britannia,FMCG,NSE,5120,125000,4
35,NESTLEIND,Nestle India,FMCG,BSE,24800,235000,2
36,DABUR,Dabur India,FMCG,NSE,560,105000,18
37,GODREJCP,Godrej Consumer,FMCG,BSE,1150,92000,11
38,COLPAL,Colgate Palmolive,FMCG,NSE,2450,67000,5
39,TITAN,Titan Company,FMCG,NSE,3560,315000,14
40,BAJAJFINSV,Bajaj Finserv,Banking,NSE,1620,260000,10
41,BAJFINANCE,Bajaj Finance,Banking,BSE,7150,430000,12
42,HDFCLIFE,HDFC Life,Banking,NSE,615,165000,17
43,SBILIFE,SBI Life,Banking,BSE,1380,120000,9
44,ICICIPRULI,ICICI Pru Life,Banking,NSE,565,78000,13
45,ULTRACEMCO,UltraTech Cement,Energy,NSE,10500,305000,7
46,SHREECEM,Shree Cement,Energy,BSE,26800,98000,3
47,JSWSTEEL,JSW Steel,Energy,NSE,830,205000,38
48,TATASTEEL,Tata Steel,Energy,BSE,145,185000,67
49,HINDALCO,Hindalco,Energy,NSE,610,145000,45
50,VEDL,Vedanta,Energy,BSE,285,105000,52
51,BIOCON,Biocon,Pharma,NSE,260,52000,21
52,LUPIN,Lupin,Pharma,BSE,1150,51000,9
53,AUROPHARMA,Aurobindo Pharma,Pharma,NSE,970,62000,16
54,ALKEM,Alkem Labs,Pharma,NSE,5150,72000,4
55,GLENMARK,Glenmark,Pharma,BSE,750,41000,19
56,TORNTPHARM,Torrent Pharma,Pharma,NSE,2350,78000,6

In [37]:
X = df[["Sector", "Exchange", "Close_Price"]]
y = df["Market_Cap_Cr"]

In [38]:
X_encoded = pd.get_dummies(X,columns=["Sector", "Exchange"])

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_encoded,y,test_size=0.2,random_state=2)

In [40]:
X_train.head()

,Close_Price,Sector_Auto,Sector_Banking,Sector_Energy,Sector_FMCG,Sector_IT,Sector_Pharma,Exchange_BSE,Exchange_NSE
9,265,False,False,True,False,False,False,True,False
10,1320,False,False,False,False,False,True,False,True
13,3850,False,False,False,False,False,True,False,True
27,315,False,False,True,False,False,False,False,True
53,970,False,False,False,False,False,True,False,True

In [41]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [45]:
import numpy as np
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False, handle_unknown="ignore")

X_train_new = ohe.fit_transform(X_train[["Sector", "Exchange"]])
X_test_new = ohe.transform(X_test[["Sector", "Exchange"]])

X_train_final = np.hstack(
    (X_train[["Close_Price"]].values, X_train_new)
)

X_test_final = np.hstack(
    (X_test[["Close_Price"]].values, X_test_new)
)

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

In [42]:
ohe = OneHotEncoder(sparse=False, handle_unknown="ignore")

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

In [43]:
X_train_new = ohe.fit_transform(X_train[["Sector", "Exchange"]])
X_test_new = ohe.transform(X_test[["Sector", "Exchange"]])

KeyError: "None of [Index(['Sector', 'Exchange'], dtype='object')] are in the [columns]"

In [44]:
X_train_new.shape

NameError: name 'X_train_new' is not defined

In [ ]:
ohe = OneHotEncoder(drop='first',sparse=False,dtype=np.int32)

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

## 4. OneHotEncoding with Top Categories